<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wassertech">
    <application
        android:label="Wassertech"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Wassertech">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
